/*========================Heading========================*/
.heading{
    padding: 70px 0;
    background-color: $color-f7f8fb;

    @include max-breakpoint(767){
        padding: 50px 0;
    }

    @include max-breakpoint(575){
        padding: 30px 0;
    }

    h1{
        font-size: 28px;
        font-weight: 600;
        color: $color-292b2c;
        text-transform: capitalize;
        margin-bottom: 0;

        @include max-breakpoint(767){
            margin-bottom: 15px;
        }

        @include max-breakpoint(480){
            font-size: 24px;
        }
    }

    &__list{
        text-align: right;

        @include max-breakpoint(767){
            text-align: left;
        }

        &-item{
            display: inline-block;

            .item__link{
                display: inline-block;
                color: $color-292b2c;
                font-size: 14px;
                text-transform: capitalize;
                transition: all .3s ease-in-out;

                &:hover{
                    color: $color-FF324D;
                }

                &:last-child{
                    color: #6c757d;
                    cursor: auto;

                    &:hover{
                        color: #6c757d;
                    }
                }
            }

            i{
                font-size: 10px;
                vertical-align: middle;
            }
        }
    }
}