/*========================About Us Section========================*/
.about{

    &__image{
        margin-bottom: 1.5rem;
    }

    &__heading{
        margin-bottom: 25px;
    }

    p{
        line-height: 28px;
        margin-bottom: 25px;

        @include max-breakpoint(575){
            line-height: 24px;
            margin-bottom: 15px;
        }

        @include max-breakpoint(480){
            font-size: 14px;
        }
    }
}