/*======================== Main Checkout Section ========================*/
.main{
    @include max-breakpoint(480){
        td{
            font-size: 14px;
        }
    }

    &__info{
        padding: 20px;
        background-color: #F7F7F7;

        @include max-breakpoint(480){
            padding: 15px;
            margin-bottom: 10px;
            font-size: 14px;
        }

        i{
            color: $color-FF324D;
            margin-right: 5px;
        }

        a:not([href]){
            @include single-transition(all, 0.3s, ease-in-out, 0s);
            color: $color-292b2c;
            cursor: pointer;

            &:hover{
                color: $color-FF324D;
            }
        }
    }

    &__dropdown{
        border: 1px solid #ddd;
        padding: 30px;
        margin-top: 30px;
        display: none;

        @include max-breakpoint(991){
            margin-top: 0;
        }

        @include max-breakpoint(480){
            padding: 15px;
        }

        p{
            line-height: 28px;
            margin-bottom: 25px;

            @include max-breakpoint(480){
                font-size: 14px;
            }
        }

        input{
            height: 50px;
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            padding: 8px 15px;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            @include single-transition(border-color, 0.15s, ease-in-out, 0s);

            &:focus{
                border-color: #80bdff;
            }
        }

        &-actions{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            @include max-breakpoint(480){
                a{
                    font-size: 13px;
                }
            }

            .actions__remember{
                cursor: pointer;
                position: relative;

                span{
                    vertical-align: middle;

                    @include max-breakpoint(480){
                        font-size: 14px;
                    }
                }

                &::before{
                    content: "";
                    border: 2px solid #ced4da;
                    height: 17px;
                    width: 17px;
                    margin: 0px 8px 0 0;
                    display: inline-block;
                    vertical-align: middle;
                }

                &::after{
                    content: "";
                    width: 11px;
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    opacity: 0;
                    height: 6px;
                    border-left: 2px solid $color-white;
                    border-bottom: 2px solid $color-white;
                    transform: translateY(-65%) rotate(-45deg)
                }

                &.checked{
                    &::before{
                        background-color: $color-FF324D;
                        border-color: $color-FF324D;
                    }

                    &::after{
                        opacity: 1;
                    }
                }
            }
        }

        &-btn{
            @include button_hover_background();
            color: $color-white;
            border: 1px solid $color-FF324D;
            padding: 12px 35px;
            width: 100%;

            @include max-breakpoint(575){
                padding: 10px 28px;
                font-size: 14px;
            }

            @include max-breakpoint(380){
                padding: 8px 24px;
            }

            &::after{
                @include button_background();
                left: 0;
                background-color: $color-FF324D;
            }

            &::before{
                @include button_background();
                right: 0;
                background-color: $color-FF324D;
            }

            &:hover{
                color: $color-FF324D;

                &::after, &::before{
                    width: 0;
                }
            }
        }

        &-coupon{
            display: flex;

            input{
                width: 60%;
                height: 45px;
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-bottom: 0;

                @include max-breakpoint(380){
                    width: 40%
                }
            }

            .coupon__btn{
                @include button_hover_background();
                padding: 8px 11px;
                align-items: center;
                display: flex;
                color: $color-white;
                border: 1px solid $color-FF324D;
                border-top-right-radius: .25rem;
                border-bottom-right-radius: .25rem;

                @include max-breakpoint(575){
                    font-size: 14px;
                    padding: 6px 18px;
                }
    
                @include max-breakpoint(380){
                    padding: 4px 16px;
                }

                &::after{
                    @include button_background();
                    left: 0;
                    background-color: $color-FF324D;
                }

                &::before{
                    @include button_background();
                    right: 0;
                    background-color: $color-FF324D;
                }

                &:hover{
                    color: $color-FF324D;

                    &::after, &::before{
                        width: 0;
                    }
                }
            }
        }
    }

    &__checkbox{
        position: relative;
        cursor: pointer;
        margin-bottom: 1rem;

        span{
            vertical-align: middle;
        }

        &::after{
            content: "";
            width: 11px;
            position: absolute;
            top: 50%;
            left: 3px;
            opacity: 0;
            height: 6px;
            border-left: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            transform: translateY(-65%) rotate(-45deg);
        }

        &::before{
            content: "";
            border: 2px solid #ced4da;
            height: 17px;
            width: 17px;
            margin: 0px 8px 0 0;
            display: inline-block;
            vertical-align: middle;
        }

        &.checked{
            &::before{
                background-color: $color-FF324D;
                border-color: $color-FF324D;
            }

            &::after{
                opacity: 1;
            }
        }
    }

    &__form{
        display: none;
    }

    &__order{
        background-color: $color-f7f8fb;
        padding: 30px;
        color: $color-292b2c;

        &-qtn, &-subtotal{
            font-weight: 600;
        }

        &-payment{
            margin-bottom: 30px;

            .payment__item{
                &-checkbox{
                    font-weight: 600;
                    cursor: pointer;
                    position: relative;
                    text-transform: capitalize;
    
                    &::after{
                        content: "";
                        background-color: $color-FF324D;
                        height: 10px;
                        width: 10px;
                        border-radius: 100%;
                        position: absolute;
                        top: 8px;
                        left: 3px;
                        opacity: 0;
                    }
    
                    &::before{
                        content: "";
                        border: 1px solid #908f8f;
                        height: 16px;
                        width: 16px;
                        display: inline-block;
                        border-radius: 100%;
                        vertical-align: middle;
                        margin-right: 8px;
                    }
                    
                    &.checked{
                        &::after{
                            opacity: 1;
                        }

                        &::before{
                            border-color: $color-FF324D;
                        }
                    }
                    
                }
    
                p{
                    color: #687188;
                    margin-top: 5px;
                    font-size: 14px;
                    display: none;
                }
            }
        }

        &-btn{
            @include button_hover_background();
            width: 100%;
            padding: 12px 35px;
            color: $color-white;
            border: 1px solid $color-FF324D;
            border-radius: .25rem;

            @include max-breakpoint(575){
                padding: 10px 28px;
                font-size: 14px;
            }

            @include max-breakpoint(380){
                padding: 8px 24px;
            }

            &::after{
                @include button_background();
                left: 0;
                background-color: $color-FF324D;
            }

            &::before{
                @include button_background();
                right: 0;
                background-color: $color-FF324D;
            }

            &:hover{
                color: $color-FF324D;

                &::after, &::before{
                    width: 0;
                }
            }
        }
    }
}